
<section class="signup container">
  <h1 class="entry-title"><span>Create Account</span></h1><hr>
  <form class="form-horizontal" method="post" name="signup" id="signup">
    <div class="form-group">
      <label class="control-label col-sm-3">Post title<span class="text-danger">*</span></label>
      <div class="col-md-8 col-sm-9">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="text" class="form-control" name="post_title" id="post_title" placeholder="Type post Title"
                 value="" [(ngModel)]="credentials.email">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Post image</label>
      <input name="post_image" id="post_image" type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" name="post_conetents" id="post_contents" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-10">
        <button (click)="create()" name="Submit" type="submit" class="btn btn-primary">Sing Up
        </button>
      </div>
    </div>
  </form>
</section>
